@model CreditBindingModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Заявка на расчет кредита!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <div>
        <p>Ваш расчет готов!! </p>
        <div>
            <h3>Распродажа книг</h3>
            <table>
                @*<tr>
                        <td><p>Название книги</p></td>
                        <td><p>Автор</p></td>
                        <td><p>Цена</p></td>
                        <td></td>
                    </tr>*@
                @*//  @foreach (var b in ViewBag.Books)*@
                @*@foreach (var b in Model)
                {
                    <tr>
                        <td><p>@ViewData["Resul"]</p></td>
                        // @ViewBag.Resul
                        <td><p>@b.SummaCredit</p></td>
                        <td><p>@b.TermCredit</p></td>
                        <td><p>@b.LendingTate</p></td>
                        //
                        <td><p><a href="/Home/Buy/@b.Id">Купить</a></p></td>
                    </tr>
                }*@
            </table>


        </div>
    </div>
    <ul>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">На главную страницу.</a>
        </li>
    </ul>
</body>
</html>
